<?xml version="1.0"?>
<model>
  <name>x500_dual_cam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ranveer</name>
    <email>ranveer@todo.todo</email>
  </author>
  <description>X500 with both a forward-facing and downward-facing mono camera.</description>
</model>
