<?xml version="1.0"?>
<model>
  <name>x500_dual_cam_lidar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ranveer</name>
    <email>ranveer@todo.todo</email>
  </author>
  <description>X500 with forward camera, downward camera, and downward scanning lidar.</description>
</model>
